<link rel="stylesheet" type="text/css" href="/reviews.css">
<link rel="stylesheet" type="text/css" href="/bootstrap.css">
	<% include header-s.ejs %>
	<% include searchh.ejs %>

	<div class="container">
	<div class="row">

	<% var i = 0;
	while(i<reviews.length){ %>
		 <div class="col-4 reviews">
			<a href="/reviews/<%= reviews[i]['id'] %>">
	    		<div class="row">
		    	<div class="col-4">
		    		<h5 class="rotate"><%= reviews[i]['author'] %></h5>
		    	</div>
		    	<div class="col-8">
			    	<span><%= reviews[i]['score'] %>/5</span>
			      	<h3><%= reviews[i]['restaurant'] %> </h3>
			      	<img src="/<%= reviews[i]['image'] %>">
			      	<p><%= reviews[i]['description'] %></p>
			    </div>
			</div>
			</a>
	    </div>
<%
		i++;
	} %>

	  </div>
	</div>

